"*":
  "atom-minimap-titles":
    font: "ANSI Shadow"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "w3c-validation"
      "jshint"
      "linter-htmlhint"
      "pigments"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "monospace"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "be9cbc29-3d6a-24fb-5a22-c4045d940a60"
  linter:
    errorPanelHeight: 138
  "linter-python":
    executablePath: "/usr/bin/pylama"
  "linter-swiftc": {}
  "livestyle-atom":
    analyzer:
      notify: false
      notifyCampaign: false
  minimap:
    adjustMinimapWidthToSoftWrap: false
    charHeight: 8
    charWidth: 3
    displayPluginsControls: false
  pigments:
    markerType: "dot"
  welcome:
    showOnStartup: false
