"*":
  "atom-minimap-titles":
    font: "ANSI Shadow"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "w3c-validation"
      "jshint"
      "linter-htmlhint"
      "linter-jshint"
      "metrics"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "build"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    autoIndent: false
    fontFamily: "monospace"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "a4eacb57-e797-4834-8146-27fd185d056a"
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-jshint":
    jshintFileName: "~/.jshintrc"
  "linter-python":
    executablePath: "/usr/bin/pylama"
  "linter-swiftc": {}
  "linter-ui-default": {}
  "livestyle-atom":
    analyzer:
      notify: false
      notifyCampaign: false
  minimap:
    adjustMinimapWidthToSoftWrap: false
    charHeight: 8
    charWidth: 3
    displayPluginsControls: false
  "nord-atom-ui": {}
  pigments:
    markerType: "dot"
  "spell-check": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
